
<html lang="en">
    <head>
        <title>
            Wheeler Graphs
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/demo.css')}}">
        <script src="{{url_for('static', filename='/userInput.js')}}"></script>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
       </head>
    <body>
        <h5>Please enter your DNA Sequence Below:</h5>
        <input type="text" id = "dna_seq" placeholder="Your DNA Sequence">
        <button id="submit_dna" onclick = "sendFunc()" class="btn btn-primary">Generate Wheeler Graph</button>
        <br>
        <br>
        <img id = "info"></img>
        </body>
</html>